*{
    margin: 0px;
    padding: 10px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html , body{
    width: 100%;
    height: auto;
    scroll-behavior: smooth;
}

span {
    display: block;
    text-align: center;
    margin-top: 40vh;
    font-size: 5vw;
    font-weight: bold;
}

.Bio_Data {
    display: grid;
    grid-template-columns: auto auto auto;
}

.bioData {
    margin-left: 30px;
    margin-top: 20px;
    border: 1px solid;
    width: 400px;
    padding: 30px;
}

.bioData li {
    list-style: none;
}